<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo list</title>
</head>
<body>
    <h1>My ToDo List</h1>
    <p>This is a simple app - Testing webhooksdasfsdf</p>

    <div class="task-input">
        <form action="#" method="POST">
            <input type="text" name="addTask">
            <button class="add-button" type="submit">Add</button>
        </form>
    </div>

    <div class="todolist">
        <ul>
            {% for task in tasks %}
            <li>{{task}} - <a href="{{url_for('delete_task', task=task)}}">Delete</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
